$text_main_color: #ffffff;
@mixin center($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  //  Header start
  .header {
    width: 100%;
    position: fixed;
    z-index: 999999999;
    top: 0;
    font-family: sans-serif;
    nav {
      padding: 0 190px;
      height: 80px;
      width: 100%;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        a {
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          color: white;
        }
      }
      ul {
        float: right;
        li {
          display: inline-block;
          align-items: center;
          justify-content: space-around;
          // padding-right: 10px;
          a {
            font-size: 14px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 20px;
            padding-right: 20px;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 400;
            opacity: 1 !important;
            &:hover {
              color: #8d703b;
            }
          }
        }
      }
      #icon {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
      }
    }
  }
  .header.active {
    width: 100%;
    position: fixed;
    z-index: 99999999;
    // top: 0;  
    font-family: sans-serif;
    nav {
      padding: 0 190px;
      height: 80px;
      width: 100%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        a {
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          color: black;
        }
      }
      ul {
        float: right;
        li {
          display: inline-block;
          align-items: center;
          justify-content: space-around;
          // padding-right: 10px;
          a {
            font-size: 14px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            font-weight: 400;
            opacity: 1 !important;
            &:hover {
              color: #8d703b;
            }
          }
        }
      }
      #icon {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
      }
    }
  }
  //  Header end

  //  Our Services Start
  section {
    width: 100%;
    .ourServices {
      .sliderPhotos {
        position: relative;
        width: 100%;
        @include center(center, center);
        height: 100vh;
        .sliderPhoto1 {
          width: 100%;
          position: relative;
          figure {
            img {
              width: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              object-fit: cover;
            }
          }
          .ourServicesText {
            width: 100%;
            padding: 0 190px;
            @include center(center, center);
            flex-direction: column;
            position: absolute;
            text-align: center;
            top: 40%;
            h2 {
              font-size: 75px;
              font-weight: 400;
              color: $text_main_color;
              font-family: "Poppins", sans-serif;
            }
            p {
              &::before {
                position: absolute;
                content: "";
                top: 50%;
                left: -170px;
                width: 150px;
                height: 1px;
                background: rgba(255, 255, 255, 0.6);
              }
              font-family: "Poppins", sans-serif;
              font-size: 20px;
              text-transform: uppercase;
              font-weight: 200;
              color: rgba(255, 255, 255, 0.8);
              position: relative;
              &::after {
                position: absolute;
                top: 50%;
                right: -170px;
                width: 150px;
                height: 1px;
                content: "";
                background: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }

      .formServices {
        // padding: 0 190px;
        position: absolute;
        width: 100%;
        z-index: 999999;
        bottom: 100px;
        .formService {
          padding: 0 190px;
          position: absolute;
          @include center(center, center);
          bottom: 75%;
          width: 100%;
          gap: 20px;
          flex-wrap: wrap;
          .inDate {
            width: 22%;
            height: 120px;
            padding: 30px 20px;
            background: #fff;
            border: 1px solid #fff;

            label {
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-size: 15px;
              color: #8d703b;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            input {
              padding-top: 10px;
              border: 2px solid #fff !important;
              height: 40px;
              color: #000;
              font-size: 20px;
              width: 100%;
            }
          }
          .outDate {
            width: 22%;
            height: 120px;
            padding: 30px 20px;
            background: #fff;
            border: 1px solid #fff;
            label {
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-size: 15px;
              color: #8d703b;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            input {
              padding-top: 10px;
              border: 2px solid #fff !important;
              height: 40px;
              color: #000;
              font-size: 20px;
              width: 100%;
            }
          }
          .formRooms {
            width: 15%;
            height: 120px;
            padding: 30px 20px;
            background: #fff;
            border: 1px solid #fff;
            label {
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-size: 15px;
              color: #8d703b;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            select {
              font-family: "Poppins", sans-serif;
              padding-top: 10px;
              border: 2px solid #fff !important;
              height: 40px;
              color: #000;
              font-size: 20px;
              width: 100%;
              option {
                font-family: "Poppins", sans-serif;
                border: 2px solid #fff !important;
                height: 40px;
                color: #000;
                font-size: 20px;
                width: 100%;
              }
            }
          }
          .formCustomers {
            width: 15%;
            height: 120px;
            padding: 30px 20px;
            background: #fff;
            border: 1px solid #fff;
            label {
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-size: 15px;
              color: #8d703b;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            select {
              padding-top: 10px;
              border: 2px solid #fff !important;
              height: 40px;
              color: #000;
              font-size: 20px;
              width: 100%;
              option {
                border: 2px solid #fff !important;
                height: 40px;
                color: #000;
                font-size: 20px;
                width: 100%;
              }
            }
          }
          .submitInput {
            width: 17%;
            // @include center(center, center);
            input {
              @include center(center, center);
              width: 100%;
              height: 120px;
              background: #7b6233;
              cursor: pointer;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              font-size: 16px;
              color: #fff;
              letter-spacing: 2px;
              border: 1px solid #7b6233;
              &:hover {
                background: #000;
                border: 1px solid #000;
              }
            }
          }
        }
      }
    }
  }
  // Our Services End

  // About Us start
  .aboutUs {
    @include center(space-around, center);
    padding: 0 190px;
    margin-bottom: 120px;
    width: 100%;
    height: 800px;
    .aboutUsVideo {
      padding-right: 70px;
      width: 50%;
      height: 100%;
      position: relative;
      @include center(center, center);
      a {
        @include center(center, center);
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
        div {
          position: absolute;
          width: 22%;
          height: 100px;
          border-radius: 50%;
          background: #8d703b;
          top: 40%;
          bottom: 0;
          z-index: 13;
          @include center(center, center);
          i {
            font-size: 24px;
            color: #fff;
          }
        }
      }
    }
    .aboutUsWelcome {
      width: 49%;
      .aboutUsName {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        span {
          padding-bottom: 10px;
          line-height: 1.8;
          font-weight: 400;
          color: gray;
          font-family: "Poppins", sans-serif;
        }
        h2 {
          font-family: "Playfair Display", Arial, serif;
          color: #000;
          font-size: 38px;
          font-weight: 400;
          margin-bottom: 44px;
        }
      }
      .aboutUsDescription {
        .aboutUsDescription1 {
          font-family: "Poppins", sans-serif;
          color: gray;
          font-size: 15px;
          line-height: 1.8;
          font-weight: 400;
          margin-bottom: 16px;
        }
        .aboutUsDescription2 {
          font-family: "Poppins", sans-serif;
          font-size: 15px;
          line-height: 1.8;
          font-weight: 400;
          color: gray;
          margin-bottom: 20px;
        }
      }
      .aboutUsSocialWeb {
        ul {
          display: flex;
          li {
            padding-right: 20px;
            i {
              color: #8d703b;
            }
          }
        }
      }
    }
  }
  // About Us end

  //   Acquaintance Hotel start
  .acquaintanceHotel {
    @include center(center, center);
    width: 100%;
    margin-bottom: 135px;
    padding: 0 190px;
    div {
      @include center(center, center);
      flex-direction: column;
      background-color: #fff;
      width: 23%;
      height: 326px;
      margin-right: 30px;
      .acquaintanceHotelPic {
        width: 30%;
        height: 100px;
        background-color: #f6f2ea;
        border-radius: 50%;
        @include center(center, center);
        i {
          font-size: 35px;
          color: #8d703b;
        }
      }
      .acquaintanceHotelDescription {
        width: 100%;
        h3 {
          width: 100%;
          @include center(center, center);
          font-family: "Playfair Display", Arial, sans-serif;
          text-align: center;
          font-size: 30px;
          color: black;
          font-weight: 300;
          line-height: 1.5;
          margin-bottom: 16px;
        }
        p {
          width: 100%;
          @include center(center, center);
          color: gray;
          font-size: 20px;
          line-height: 1.5;
          text-align: center;
        }
      }
    }
  }
  // Acquaintance Hotel end

  // Our Rooms Start
  .rooms {
    background-color: #f8f9fa;
    // padding-top: 100px;
    // padding-bottom: 100px;
    padding: 100px 190px;
    width: 100%;
    .roomHeader {
      @include center(center, center);
      margin-bottom: 54px;
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 400;
        position: relative;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 0.5rem;
        margin-top: 0;

        &::before {
          width: 60%;
          height: 2px;
          bottom: -19px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          content: "";
        }
        span {
          text-align: center;
          color: #000;
          line-height: 1.5;
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        &::after {
          content: "";
          width: 80%;
          height: 2px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          margin-bottom: 4px;
        }
      }
    }

    .roomCards {
      @include center(center, center);
      margin-bottom: 30px;
      flex-wrap: wrap;
      width: 100%;
      .roomCard {
        background-color: #fff;
        margin-right: 30px;
        margin-top: 30px;
        width: 30%;
        height: 450px;
        border: 1px solid rgba(194, 184, 184, 0.8);
        cursor: pointer;
        .roomCardPhoto {
          width: 100%;
          height: 250px;
          margin-bottom: 27px;
          position: relative;
          a {
            width: 100%;
            height: 100%;
            @include center(center, center);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            div {
              position: absolute;
              z-index: 13;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              opacity: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background: #fff;
              margin: auto;
              text-align: center;
              @include center(center, center);
              i {
                font-size: 16px;
              }
            }
          }
        }
        .roomCardDescription {
          a {
            margin-bottom: 15px;
            @include center(center, center);
            h4 {
              color: #000;
              font-size: 22px;
              line-height: 1.5;
              font-weight: 400;
              text-align: center;
              font-family: "Poppins", sans-serif;
            }
          }
          .roomCardDescriptionPrice {
            @include center(center, center);
            margin-bottom: 20px;
            h5 {
              color: #000 !important;
              margin-right: 8px;
              font-size: 26px;
              line-height: 1.8;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              position: relative;
              &::after {
                position: absolute;
                bottom: -3px;
                left: 0;
                right: 0;
                width: 100%;
                height: 2px;
                content: "";
                background: #d1ba90;
              }
            }
            span {
              color: #b3b3b3 !important;
              text-align: center;
              font-size: 15px;
              line-height: 1.8;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
            }
          }
        }
        hr {
          margin-top: 16px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          unicode-bidi: isolate;
          margin-block-start: 0.5em;
          margin-block-end: 0.5em;
          overflow: visible;
          text-align: center;
        }
        a {
          text-align: center;
          font-size: 18px;
          line-height: 1.8;
          font-weight: 400;
          color: #000;
          i {
            // padding-left: 5px;
            color: #000;
            line-height: 1;
            font-size: 15px;
          }
        }
        &:hover {
          .roomCardPhoto {
            a {
              div {
                opacity: 100;
                @include center(center, center);
              }
            }
          }
        }
      }
    }
  }
  //  Our Rooms End

  // Our Staff Start
  .ourStaff {
    padding: 0 190px;
    width: 100%;
    height: 290px;
    background-color: #8d703b;
    @include center(center, center);
    text-align: center;
    .counters {
      width: 21%;
      @include center(center, center);
      flex-direction: column;
      .counter {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        margin-bottom: 15px;
      }
      p {
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  // Our Staff End

  // People's Feedback start

  .feedbackPeople {
    padding: 0 190px;
    position: relative;
    background: #f8f9fa;
    .myFeedback {
      width: 100%;
      height: 550px;
      background-color: #f8f9fa;
      @include center(center, center);
    }
    .feedback {
      background-color: #f8f9fa;
      @include center(center, center);
      width: 100%;
      height: 550px;
      flex-direction: column;
      .feedbackPhoto {
        width: 100px;
        height: 100px;
        margin-bottom: 24px;
        position: relative;
        figure {
          position: relative;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }
        span {
          position: absolute;
          bottom: -10px;
          right: 0;
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          @include center(center, center);
          i {
            color: #999999;
            // line-height: 1;
          }
        }
      }
      p {
        width: 70%;
        text-align: center;
        margin-bottom: 24px;
        font-size: 15px;
        line-height: 1.8;
        font-weight: 400;
        color: gray;
        font-family: "Poppins", sans-serif;
        @include center(center, center);
      }
      h5 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
        color: #000000;
      }
      span {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        color: #cccccc;
        text-transform: uppercase;
      }
    }
  }
  // People's Feedback end

  // Recent Blog Start
  .blog {
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 0 190px;
    .blogHeader {
      margin-bottom: 68px;
      @include center(center, center);
      h2 {
        font-size: 30px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        position: relative;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 0.5rem;
        margin-top: 0;

        &::before {
          width: 60%;
          height: 2px;
          bottom: -19px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          content: "";
        }
        span {
          text-align: center;
          color: #000;
          line-height: 1.5;
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        &::after {
          content: "";
          width: 80%;
          height: 2px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          margin-bottom: 4px;
        }
      }
    }
    .blogCards {
      @include center(center, center);
      .blogCard {
        margin-right: 30px;
        width: 21%;
        height: 410px;
        figure {
          width: 100%;
          height: 250px;
          margin-bottom: 25px;
          a {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        a {
          color: #000000;
          font-size: 20px;
          line-height: 1.5;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          margin-bottom: 25px;
          &:hover {
            color: #7b6233;
          }
        }
        .blogFeedback {
          @include center(start, flex-start);
          width: 100%;
          flex-wrap: wrap;
          a {
            // width: 32%;
            span {
              margin-right: 20px;
              color: #b3b3b3;
              font-size: 15px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              line-height: 1.8;
            }
          }
        }
      }
    }
  }
  // Recent Blog End

  // Instagram start
  .instagram {
    // margin-bottom: 40px;
    width: 100%;
    height: 370px;
    .instagramHeader {
      @include center(center, center);
      margin-bottom: 44px;
      h2 {
        font-size: 30px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        position: relative;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 0.5rem;
        margin-top: 0;

        &::before {
          width: 60%;
          height: 2px;
          bottom: -19px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          content: "";
        }
        span {
          text-align: center;
          color: #000;
          line-height: 1.5;
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        &::after {
          content: "";
          width: 80%;
          height: 2px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          margin-bottom: 4px;
        }
      }
    }
    .instagramPictures {
      ul {
        @include center(center, center);
        li {
          cursor: pointer;
          width: 20%;
          height: 280px;
          position: relative;
          .clickable-image {
            width: 100%;
            height: 100%;
          }
          div {
            margin: 15px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            color: transparent;
            @include center(center, center);
            i {
              font-size: 45px;
              color: #fff;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:hover {
            div {
              opacity: 100;
              background: rgba(0, 0, 0, 0.3);
              @include center(center, center);
            }
          }
        }
      }
    }
  }
  // Instagram end

  // Footer Start
  .footer {
    background-color: #232323;
    width: 100%;
    height: 510px;
    padding: 0 190px;
    @include center(center, center);
    .footerDeluxeHotel {
      width: 25%;
      height: 350px;
      margin-right: 70px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 1.8;
      }
      .footerSocialWeb {
        margin-top: 70px;
        ul {
          @include center(start, center);
          li {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            border-radius: 50%;
            background-color: #2e2e2e;
            a {
              @include center(center, center);
              text-align: center;
              width: 100%;
              height: 100%;
              i {
                color: #fff;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
    .footerLinks {
      width: 21%;
      height: 350px;
      margin-right: 40px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      div {
        ul {
          li {
            margin-bottom: 20px;
            a {
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              line-height: 1.8;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .footerPrivacy {
      width: 21%;
      height: 350px;
      margin-right: 40px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
      }
      div {
        ul {
          li {
            margin-bottom: 20px;
            a {
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              line-height: 1.8;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .footerCare {
      width: 26%;
      height: 350px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      .footerQuestion {
        width: 100%;
        ul {
          li {
            margin-bottom: 10px;
            .footerAddress {
              width: 100%;
              ul {
                @include center(start, baseline);
                li {
                  display: flex;
                  margin-right: 20px;
                  i {
                    color: #fff;
                  }
                  p {
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.8;
                  }
                }
              }
            }
            .footerNumber {
              width: 100%;
              ul {
                @include center(start, center);
                li {
                  display: flex;
                  margin-right: 10px;
                  a {
                    i {
                      color: #fff;
                    }
                  }
                  a {
                    color: #fff;
                    span {
                      font-size: 16px;
                      font-weight: 400;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.8;
                    }
                  }
                }
              }
            }
            .footerEmail {
              width: 100%;
              ul {
                @include center(start, center);
                li {
                  display: flex;
                  margin-right: 10px;
                  a {
                    i {
                    }
                  }
                  a {
                    color: #fff;
                    span {
                      font-size: 16px;
                      font-weight: 400;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // Footer End

  @media (max-width: 786px) {
    // Header Start
    .header {
      position: fixed;
      z-index: 999999999;
      top: 0;
      background: #232323;
      nav {
        padding: 0 10px;
        label {
          a {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
          }
        }
        ul {
          position: fixed;
          // padding: 0 10px;
          width: 100%;
          top: -600px;
          height: 50vh;
          //   float: right;
          background: #232323;
          li {
            display: block;
            margin-top: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
        ul.show {
          left: 0;
          top: 70px;
        }
        #icon {
          display: block;
          border: none;
          color: rgba(255, 255, 255, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    .header.active {
      position: fixed;
      z-index: 9999999999;
      top: 0;
      background: white;
      nav {
        padding: 0 10px;
        label {
          a {
            font-size: 20px;
          }
        }
        ul {
          position: fixed;
          padding: 0 10px;
          width: 100%;
          top: -100%;
          height: 50vh;
          background: white;
          li {
            color: black;
            display: block;
            margin: 20px 0;
            line-height: 30px;
            text-transform: none;
          }
        }
        ul.show {
          left: 0;
          top: 70px;
        }
        #icon {
          display: block;
          display: block;
          border: none;
          color: rgba(0, 0, 0, 0.5) !important;
          border-color: rgba(0, 0, 0, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    // Header End

    // Our Service Start
    section {
      .ourServices {
        padding: 0;
        width: 100%;
        height: auto;
        .sliderPhotos {
          position: relative;
          width: 100%;
          // height: auto;
          @include center(center, center);
          .sliderPhoto1 {
            width: 100%;
            .ourServicesText {
              width: 100%;
              top: 20%;
              padding: 0;
              h2 {
                font-size: 55px;
              }
              p {
                &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  left: -170px;
                  width: 150px;
                  height: 1px;
                  background: rgba(255, 255, 255, 0.6);
                }
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 200;
                color: rgba(255, 255, 255, 0.8);
                position: relative;
                &::after {
                  position: absolute;
                  top: 50%;
                  right: -170px;
                  width: 150px;
                  height: 1px;
                  content: "";
                  background: rgba(255, 255, 255, 0.6);
                }
              }
            }
          }
        }

        .formServices {
          // height: auto;
          position: absolute;
          width: 100%;
          z-index: 999999;
          bottom: 5 0px;
          .formService {
            padding: 0 10px;
            position: absolute;
            @include center(center, center);
            bottom: 0%;
            width: 100%;
            gap: 20px;
            flex-wrap: wrap;
            .inDate {
              width: 26%;

              label {
                width: 100%;
                font-size: 15px;
              }
              input {
                font-size: 20px;
                width: 100%;
              }
            }
            .outDate {
              width: 26%;
              label {
                font-size: 15px;
              }
              input {
                font-size: 20px;
              }
            }
            .formRooms {
              width: 18%;
              label {
                width: 100%;
                font-size: 15px;
              }
              select {
                font-size: 20px;
                width: 100%;
                option {
                  font-size: 20px;
                  width: 100%;
                }
              }
            }
            .formCustomers {
              width: 18%;
              label {
                font-size: 15px;
              }
              select {
                font-size: 20px;
                width: 100%;
                option {
                  font-size: 20px;
                  width: 100%;
                }
              }
            }
            .submitInput {
              margin-top: 0;
              width: 100%;
              input {
                @include center(center, center);
                height: 50px;
                width: 100%;
                font-size: 16px;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                font-weight: 400;
                &:hover {
                  background: #000;
                  border: 1px solid #000;
                }
              }
            }
          }
        }
      }
    }
    // Our Service End

    // About Us Start
    .aboutUs {
      padding: 0 15px;
      width: 100%;
      .aboutUsWelcome {
        width: 43%;
      }
    }
    // About Us End

    // Acquaintance Hotel Start
    .acquaintanceHotel {
      padding: 0 30px;
      width: 100%;
      div {
        @include center(center, center);
        flex-direction: column;
        width: 24%;
        // margin-right: 15px;
        .acquaintanceHotelPic {
          width: 65%;
          @include center(center, center);
          i {
            font-size: 30px;
          }
        }
        .acquaintanceHotelDescription {
          h3 {
            width: 100%;
            font-size: 24px;
          }
          p {
            width: 100%;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
    // Acquaintance Hotel End

    // Rooms Start
    .rooms {
      padding: 0 20px;
      width: 100%;
      .roomCards {
        width: 100%;
        .roomCard {
          width: 45%;
        }
      }
    }
    // Rooms End

    // Our Staff Start
    .ourStaff {
      width: 100%;
      padding: 0 30px;
      .counters {
        width: 23%;
      }
    }
    // Our Staff End

    // People's Feedback start
    .feedbackPeople {
      padding: 0 190px;
      background: #f8f9fa;
      .feedback {
        background: #f8f9fa;
        p {
          width: 100%;
        }
      }
    }
    // People's Feedback end

    // Recent Blog Start
    .blog {
      padding: 0 10px;
      .blogCards {
        width: 100%;
        .blogCard {
          width: 22%;
          height: 550px;
          .blogFeedback {
            @include center(start, flex-start);
            width: 100%;
            a {
              width: 50%;
            }
          }
        }
      }
    }
    // Recent Blog End

    // Footer Start
    .footer {
      // width: 100%;
      padding: 0 25px;
    }
    // Footer End
  }

  @media (max-width: 480px) {

    // Header Start
    .header {
      position: fixed;
      z-index: 99999999;
      top: 0;
      background: #232323;
      nav {
        padding: 0 10px;
        label {
          a {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
          }
        }
        ul {
          position: fixed;
          // padding: 0 10px;
          width: 100%;
          top: -600px;
          height: 50vh;
          //   float: right;
          background: #232323;
          li {
            display: block;
            margin-top: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
        ul.show {
          left: 0;
          top: 70px;
        }
        #icon {
          display: block;
          border: none;
          color: rgba(255, 255, 255, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    .header.active {
      position: fixed;
      z-index: 999999999;
      top: 0;
      background: white;
      nav {
        padding: 0 10px;
        label {
          a {
            font-size: 20px;
          }
        }
        ul {
          position: fixed;
          padding: 0 10px;
          width: 100%;
          top: -100%;
          height: 50vh;
          background: white;
          li {
            color: black;
            display: block;
            margin: 20px 0;
            line-height: 30px;
            text-transform: none;
          }
        }
        ul.show {
          left: 0;
          top: 70px;
        }
        #icon {
          display: block;
          display: block;
          border: none;
          color: rgba(0, 0, 0, 0.5) !important;
          border-color: rgba(0, 0, 0, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    // Header End

    // Our Service Start
    section {
      margin-top: 70px;
      .ourServices {
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        .sliderPhotos {
          position: relative;
          width: 100%;
          height: auto;
          @include center(center, center);
          padding: 0;
          .sliderPhoto1 {
            height: auto;
            width: 100%;
            .ourServicesText {
              padding: 0;
              width: 100%;
              top: 20%;
              h2 {
                font-size: 50px;
              }
              p {
                &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  left: -170px;
                  width: 150px;
                  height: 1px;
                  background: rgba(255, 255, 255, 0.6);
                }
                font-family: "Poppins", sans-serif;
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 200;
                color: rgba(255, 255, 255, 0.8);
                position: relative;
                &::after {
                  position: absolute;
                  top: 50%;
                  right: -170px;
                  width: 150px;
                  height: 1px;
                  content: "";
                  background: rgba(255, 255, 255, 0.6);
                }
              }
            }
          }
        }

        .formServices {
          position: relative;
          background: #fff;
          width: 100%;
          z-index: 999999;
          flex-wrap: wrap;
          flex-direction: column;
          bottom: 0;
          @include center(center, center);
          margin-bottom: 50px;
          .formService {
            padding: 0 10px;
            position: relative;
            // @include center(center, center);
            // bottom: 75%;
            bottom: 0;
            width: 100%;
            gap: 20px;
            flex-wrap: wrap;
            flex-direction: column;
            .inDate {
              width: 100%;
              height: auto;
              label {
                width: 100%;
                font-size: 15px;
              }
              input {
                font-size: 20px;
                width: 100%;
              }
            }
            .outDate {
              width: 100%;
              margin-top: 0;
              height: auto;
              label {
                font-size: 15px;
              }
              input {
                font-size: 20px;
              }
            }
            .formRooms {
              width: 100%;
              height: auto;
              label {
                width: 100%;
                font-size: 15px;
              }
              select {
                font-size: 20px;
                width: 100%;
                option {
                  font-size: 20px;
                  width: 100%;
                }
              }
            }
            .formCustomers {
              width: 100%;
              height: auto;
              label {
                font-size: 15px;
              }
              select {
                font-size: 20px;
                width: 100%;
                option {
                  font-size: 20px;
                  width: 100%;
                }
              }
            }
            .submitInput {
              height: auto;
              width: 100%;
              input {
                @include center(center, center);
                height: 50px;
                width: 100%;
                font-size: 16px;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                font-weight: 400;
                &:hover {
                  background: #000;
                  border: 1px solid #000;
                }
              }
            }
          }
        }
      }
    }
    // Our Service End

    // About Us Start
    .aboutUs {
      padding: 0 10px;
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // margin-bottom: 350px;
      .aboutUsVideo {
        padding: 0;
        width: 100%;
        height: 400px;
        a {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .aboutUsWelcome {
        padding: 0 10px;
        width: 100%;
        height: 100%;
        margin-top: 30px;
      }
    }
    // About Us End

    // Acquaintance Hotel Start
    .acquaintanceHotel {
      padding: 0 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      div {
        // padding: 0 30px;
        @include center(center, center);
        flex-direction: column;
        width: 100%;
        margin-right: 0px;
        .acquaintanceHotelPic {
          width: 21%;
          @include center(center, center);
          i {
            font-size: 30px;
          }
        }
        .acquaintanceHotelDescription {
          width: 100%;
          h3 {
            width: 100%;
            font-size: 24px;
          }
          p {
            width: 100%;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
    // Acquaintance Hotel End

    // Rooms Start
    .rooms {
      padding: 0 20px;
      width: 100%;
      .roomCards {
        width: 100%;
        .roomCard {
          margin-right: 0;
          width: 100%;
        }
      }
    }
    // Rooms End

    // Our Staff Start
    .ourStaff {
      @include center(center, center);
      flex-wrap: wrap;
      width: 100%;
      height: 400px;
      padding: 0 30px;
      .counters {
        width: 100%;
      }
    }
    // Our Staff End

    // People's Feedback start
    .feedbackPeople {
      // padding: 0 190px;
      padding: 0 20px;
      background: #f8f9fa;
      .feedback {
        background: #f8f9fa;
        p {
          width: 100%;
        }
      }
    }
    // People's Feedback end

    // Recent Blog Start
    .blog {
      padding: 0 10px;
      .blogCards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .blogCard {
          margin-right: 0;
          width: 100%;
          height: 410px;
          .blogFeedback {
            @include center(start, flex-start);
            width: 100%;
            a {
              width: 30%;
            }
          }
        }
      }
    }
    // Recent Blog End

    // Instagram start
    .instagram {
      // margin-bottom: 40px;
      width: 100%;
      height: auto;
      .instagramHeader {
        @include center(center, center);
        margin-bottom: 44px;
        h2 {
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          position: relative;
          line-height: 1.5;
          color: #000000;
          margin-bottom: 0.5rem;
          margin-top: 0;

          &::before {
            width: 60%;
            height: 2px;
            bottom: -19px;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #8d703b;
            content: "";
          }
          span {
            text-align: center;
            color: #000;
            line-height: 1.5;
            font-size: 30px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
          }
          &::after {
            content: "";
            width: 80%;
            height: 2px;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #8d703b;
            margin-bottom: 4px;
          }
        }
      }
      .instagramPictures {
        ul {
          @include center(center, center);
          flex-wrap: wrap;
          width: 100%;
          li {
            cursor: pointer;
            width: 100%;
            height: 280px;
            position: relative;
            .clickable-image {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    // Instagram end

    // Footer Start
    .footer {
      background-color: #232323;
      width: 100%;
      height: auto;
      padding: 0 10px;
      @include center(center, center);
      flex-wrap: wrap;
      .footerDeluxeHotel {
        padding-top: 80px;
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        span {
          color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          line-height: 1.8;
        }
        .footerSocialWeb {
          margin-top: 20px;
          margin-bottom: 50px;
          ul {
            @include center(start, center);
            li {
              width: 50px;
              height: 50px;
              margin-right: 20px;
              border-radius: 50%;
              background-color: #2e2e2e;
              a {
                @include center(center, center);
                text-align: center;
                width: 100%;
                height: 100%;
                i {
                  color: #fff;
                  font-size: 25px;
                }
              }
            }
          }
        }
      }
      .footerLinks {
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        div {
          ul {
            li {
              margin-bottom: 20px;
              a {
                color: rgba(255, 255, 255, 0.7);
                font-size: 16px;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
                line-height: 1.8;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .footerPrivacy {
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
        }
        div {
          ul {
            li {
              margin-bottom: 20px;
              a {
                color: rgba(255, 255, 255, 0.7);
                font-size: 16px;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
                line-height: 1.8;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .footerCare {
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        .footerQuestion {
          width: 100%;
          ul {
            li {
              margin-bottom: 10px;
              .footerAddress {
                width: 100%;
                ul {
                  @include center(start, baseline);
                  li {
                    display: flex;
                    margin-right: 20px;
                    i {
                      color: #fff;
                    }
                    p {
                      color: rgba(255, 255, 255, 0.7);
                      font-size: 16px;
                      font-weight: 400;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.8;
                    }
                  }
                }
              }
              .footerNumber {
                width: 100%;
                ul {
                  @include center(start, center);
                  li {
                    display: flex;
                    margin-right: 10px;
                    a {
                      i {
                        color: #fff;
                      }
                    }
                    a {
                      color: #fff;
                      span {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "Poppins", sans-serif;
                        line-height: 1.8;
                      }
                    }
                  }
                }
              }
              .footerEmail {
                width: 100%;
                ul {
                  @include center(start, center);
                  li {
                    display: flex;
                    margin-right: 10px;
                    a {
                      i {
                      }
                    }
                    a {
                      color: #fff;
                      span {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "Poppins", sans-serif;
                        line-height: 1.8;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // Footer End
  }
}
