$text_main_color: #ffffff;
@mixin center($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  //  Header start
  .header {
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    font-family: sans-serif;
    nav {
      padding: 0 190px;
      height: 80px;
      width: 100%;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        a {
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          color: white;
        }
      }
      ul {
        float: right;
        li {
          display: inline-block;
          align-items: center;
          justify-content: space-around;
          // padding-right: 10px;
          a {
            font-size: 14px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 20px;
            padding-right: 20px;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 400;
            opacity: 1 !important;
            &:hover {
              color: #8d703b;
            }
          }
        }
      }
      #icon {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
      }
    }
  }
  .header.active {
    width: 100%;
    position: fixed;
    z-index: 99999;
    // top: 0;  
    font-family: sans-serif;
    nav {
      padding: 0 190px;
      height: 80px;
      width: 100%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        a {
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          color: black;
        }
      }
      ul {
        float: right;
        li {
          display: inline-block;
          align-items: center;
          justify-content: space-around;
          // padding-right: 10px;
          a {
            font-size: 14px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            font-weight: 400;
            opacity: 1 !important;
            &:hover {
              color: #8d703b;
            }
          }
        }
      }
      #icon {
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
      }
    }
  }
  //  Header end

  // Entrance start
  .entrance {
    position: relative;
    figure {
      width: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .entranceDesc {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      @include center(center, center);
      flex-direction: column;
      .entranceNav {
        text-align: center;
        a {
          text-transform: uppercase;
          letter-spacing: 1px;
          transition: 0.3s all ease;
          color: #fff;
          margin-right: 20px;
        }
        span {
          border-bottom: 2px solid rgba(255, 255, 255, 0.1);
          color: rgba(255, 255, 255, 0.7);
          text-transform: uppercase;
        }
      }
      h1 {
        font-weight: 400;
        color: #fff;
        font-size: 60px;
        // margin-bottom: 30px;
        font-family: "Playfair Display", Arial, serif;
        line-height: 1.5;
      }
    }
  }
  // Entrance End

  // About Restaurant Start
  .restaurantAbout {
    width: 100%;
    padding: 0 190px 100px 190px;
    @include center(center, center);
    .resturantPic {
      width: 48%;
      padding-right: 90px;
      height: 630px;
      figure {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .restaurantDescription {
      width: 48%;
      .restaurantDescriptionHeader {
        width: 100%;
        margin-bottom: 40px;
        span {
          font-size: 14px;
          margin-bottom: 10px;
          line-height: 1.8;
          font-weight: 400;
          color: gray;
          font-family: "Poppins", Arial, sans-serif;
        }
        h2 {
          font-size: 38px;
          font-weight: 400;
          line-height: 1.5;
          color: #000;
        }
      }
      p {
        font-family: "Poppins", Arial, sans-serif;
        font-size: 15px;
        line-height: 1.8;
        font-weight: 400;
        color: gray;
      }
      .restParagraph {
        width: 100%;
        margin: 20px 0;
        padding-left: 55px;
      }
    }
  }
  // About Restaurant End

  // Our Menu Start
  .ourMenu {
    padding: 0 190px;
    .ourMenuHeader {
      @include center(center, center);
      margin-bottom: 40px;
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 400;
        position: relative;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 0.5rem;
        margin-top: 0;

        &::before {
          width: 60%;
          height: 2px;
          bottom: -19px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          content: "";
        }
        span {
          text-align: center;
          color: #000;
          line-height: 1.5;
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        &::after {
          content: "";
          width: 80%;
          height: 2px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          margin-bottom: 4px;
        }
      }
    }
    .menuCards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 100px;
      .menuCard {
        display: flex;
        width: 48%;
        margin-right: 20px;
        // background: #fff;
        margin-top: 30px;
        .menuPhoto {
          width: 100px;
          height: 100px;
          margin-right: 10px;
          figure {
            width: 100%;
            height: 100%;
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .menuDescription {
          .menuDescriptionHeader {
            display: flex;
            position: relative;
            width: 100%;
            h3 {
              width: 100%;
              font-size: 24px;
              color: #000;
              font-weight: 400;
              font-family: "Playfair Display", Arial, serif;
              margin-bottom: 8px;
              span {
                padding-right: 20px;
                line-height: 1.5;
                font-family: "Playfair Display", Arial, serif;
                color: #000000;
                font-weight: 400;
              }
            }
            .price {
              width: 20%;
              color: #8d703b;
              text-align: right;
              font-size: 20px;
              background: #fff;
            }
          }
          p {
            font-family: "Poppins", Arial, sans-serif;
            font-size: 15px;
            line-height: 1.8;
            font-weight: 400;
            color: gray;
          }
        }
      }
    }
  }
  // Our Menu End

  // Instagram start
  .instagram {
    width: 100%;
    height: 370px;
    .instagramHeader {
      @include center(center, center);
      margin-bottom: 44px;
      h2 {
        font-size: 30px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        position: relative;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 0.5rem;
        margin-top: 0;

        &::before {
          width: 60%;
          height: 2px;
          bottom: -19px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          content: "";
        }
        span {
          text-align: center;
          color: #000;
          line-height: 1.5;
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        &::after {
          content: "";
          width: 80%;
          height: 2px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #8d703b;
          margin-bottom: 4px;
        }
      }
    }
    .instagramPictures {
      ul {
        @include center(center, center);
        li {
          cursor: pointer;
          width: 20%;
          height: 280px;
          position: relative;
          .clickable-image {
            width: 100%;
            height: 100%;
          }
          div {
            margin: 15px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            color: transparent;
            @include center(center, center);
            i {
              font-size: 45px;
              color: #fff;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:hover {
            div {
              opacity: 100;
              background: rgba(0, 0, 0, 0.3);
              @include center(center, center);
            }
          }
        }
      }
    }
  }
  // Instagram end

  // Footer Start
  .footer {
    background-color: #232323;
    width: 100%;
    height: 510px;
    padding: 0 190px;
    @include center(center, center);
    .footerDeluxeHotel {
      width: 25%;
      height: 350px;
      margin-right: 70px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 1.8;
      }
      .footerSocialWeb {
        margin-top: 70px;
        ul {
          @include center(start, center);
          li {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            border-radius: 50%;
            background-color: #2e2e2e;
            a {
              @include center(center, center);
              text-align: center;
              width: 100%;
              height: 100%;
              i {
                color: #fff;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
    .footerLinks {
      width: 21%;
      height: 350px;
      margin-right: 40px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      div {
        ul {
          li {
            margin-bottom: 20px;
            a {
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              line-height: 1.8;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .footerPrivacy {
      width: 21%;
      height: 350px;
      margin-right: 40px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
      }
      div {
        ul {
          li {
            margin-bottom: 20px;
            a {
              color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              line-height: 1.8;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .footerCare {
      width: 26%;
      height: 350px;
      h5 {
        color: #fff;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }
      .footerQuestion {
        width: 100%;
        ul {
          li {
            margin-bottom: 10px;
            .footerAddress {
              width: 100%;
              ul {
                @include center(start, baseline);
                li {
                  display: flex;
                  margin-right: 20px;
                  i {
                    color: #fff;
                  }
                  p {
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.8;
                  }
                }
              }
            }
            .footerNumber {
              width: 100%;
              ul {
                @include center(start, center);
                li {
                  display: flex;
                  margin-right: 10px;
                  a {
                    i {
                      color: #fff;
                    }
                  }
                  a {
                    color: #fff;
                    span {
                      font-size: 16px;
                      font-weight: 400;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.8;
                    }
                  }
                }
              }
            }
            .footerEmail {
              width: 100%;
              ul {
                @include center(start, center);
                li {
                  display: flex;
                  margin-right: 10px;
                  a {
                    i {
                    }
                  }
                  a {
                    color: #fff;
                    span {
                      font-size: 16px;
                      font-weight: 400;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // Footer End

  @media (max-width: 786px) {
    // Header Start
    .header {
      position: fixed;
      z-index: 1000;
      top: 0;
      background: #232323;
      nav {
        padding: 0 10px;
        label {
          a {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
          }
        }
        ul {
          position: fixed;
          // padding: 0 10px;
          width: 100%;
          top: -600px;
          height: 50vh;
          //   float: right;
          background: #232323;
          li {
            display: block;
            margin-top: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
        ul.show {
          left: 0;
          top: 70px;
        }
        #icon {
          display: block;
          border: none;
          color: rgba(255, 255, 255, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    .header.active {
      position: fixed;
      z-index: 1000;
      top: 0;
      background: white;
      nav {
        padding: 0 10px;
        label {
          a {
            font-size: 20px;
          }
        }
        ul {
          position: fixed;
          padding: 0 10px;
          width: 100%;
          top: -100%;
          height: 50vh;
          background: white;
          li {
            color: black;
            display: block;
            margin: 20px 0;
            line-height: 30px;
            text-transform: none;
          }
        }
        ul.show {
          left: 0;
          top: 70px;
        }
        #icon {
          display: block;
          display: block;
          border: none;
          color: rgba(0, 0, 0, 0.5) !important;
          border-color: rgba(0, 0, 0, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    // Header End

    //About Restaurant start
    .restaurantAbout {
      padding: 0 10px;
      width: 100%;
      .resturantPic {
        height: 770px;
      }
      .restaurantDescription {
        width: 43%;
      }
    }
    // About Restaurant end

    // Our Menu start
    .ourMenu {
      padding: 0 10px;
      margin-top: 100px;
      .menuCards {
        width: 100%;
        .menuCard {
          width: 47%;
          .menuPhoto {
            height: 80px;
          }
        }
      }
    }
    // Our Menu end

    // Footer Start
    .footer {
      padding: 0 25px;
    }
    // Footer End
  }

  @media (max-width: 480px) {
    // Header Start
    .header {
      position: fixed;
      z-index: 1000;
      top: 0;
      background: #232323;
      nav {
        padding: 0 10px;
        label {
          a {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
          }
        }
        ul {
          position: fixed;
          // padding: 0 10px;
          width: 100%;
          top: -600px;
          height: 50vh;
          //   float: right;
          background: #232323;
          li {
            display: block;
            margin-top: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.7);
          }
        }
        ul.show {
          top: 70px;
        }
        #icon {
          display: block;
          border: none;
          color: rgba(255, 255, 255, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    .header.active {
      position: fixed;
      z-index: 1000;
      top: 0;
      background: white;
      nav {
        padding: 0 10px;
        label {
          a {
            font-size: 20px;
          }
        }
        ul {
          position: fixed;
          padding: 0 10px;
          width: 100%;
          top: -100%;
          height: 50vh;
          background: white;
          li {
            color: black;
            display: block;
            margin: 20px 0;
            line-height: 30px;
            text-transform: none;
          }
        }
        ul.show {
          top: 70px;
        }
        #icon {
          display: block;
          display: block;
          border: none;
          color: rgba(0, 0, 0, 0.5) !important;
          border-color: rgba(0, 0, 0, 0.5) !important;
          cursor: pointer;
          padding-right: 0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    // Header End

    // About Restaurant start
    .restaurantAbout {
      padding: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .resturantPic {
        padding: 0;
        height: 300px;
        width: 100%;
      }
      .restaurantDescription {
        padding: 100px 10px 0 10px;
        width: 100%;
        .restParagraph {
          padding-left: 0;
        }
      }
    }
    // About Restaurant end

    // Our Menu start
    .ourMenu {
      padding: 0 10px;
      margin-top: 100px;
      .menuCards {
        width: 100%;
        .menuCard {
          width: 98%;
          padding-right: 0;
          .menuPhoto {
            height: 80px;
          }
        }
      }
    }
    // Our Menu end

    // Instagram start
    .instagram {
      // margin-bottom: 40px;
      width: 100%;
      height: auto;
      .instagramHeader {
        @include center(center, center);
        margin-bottom: 44px;
        h2 {
          font-size: 30px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          position: relative;
          line-height: 1.5;
          color: #000000;
          margin-bottom: 0.5rem;
          margin-top: 0;

          &::before {
            width: 60%;
            height: 2px;
            bottom: -19px;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #8d703b;
            content: "";
          }
          span {
            text-align: center;
            color: #000;
            line-height: 1.5;
            font-size: 30px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
          }
          &::after {
            content: "";
            width: 80%;
            height: 2px;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #8d703b;
            margin-bottom: 4px;
          }
        }
      }
      .instagramPictures {
        ul {
          @include center(center, center);
          flex-wrap: wrap;
          width: 100%;
          li {
            cursor: pointer;
            width: 100%;
            height: 280px;
            position: relative;
            .clickable-image {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    // Instagram end

    .footer {
      background-color: #232323;
      width: 100%;
      height: auto;
      padding: 0 10px;
      @include center(center, center);
      flex-wrap: wrap;
      .footerDeluxeHotel {
        padding-top: 80px;
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        span {
          color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          line-height: 1.8;
        }
        .footerSocialWeb {
          margin-top: 20px;
          margin-bottom: 50px;
          ul {
            @include center(start, center);
            li {
              width: 50px;
              height: 50px;
              margin-right: 20px;
              border-radius: 50%;
              background-color: #2e2e2e;
              a {
                @include center(center, center);
                text-align: center;
                width: 100%;
                height: 100%;
                i {
                  color: #fff;
                  font-size: 25px;
                }
              }
            }
          }
        }
      }
      .footerLinks {
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        div {
          ul {
            li {
              margin-bottom: 20px;
              a {
                color: rgba(255, 255, 255, 0.7);
                font-size: 16px;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
                line-height: 1.8;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .footerPrivacy {
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
        }
        div {
          ul {
            li {
              margin-bottom: 20px;
              a {
                color: rgba(255, 255, 255, 0.7);
                font-size: 16px;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
                line-height: 1.8;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .footerCare {
        width: 100%;
        height: auto;
        margin-right: 0;
        h5 {
          color: #fff;
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }
        .footerQuestion {
          width: 100%;
          ul {
            li {
              margin-bottom: 10px;
              .footerAddress {
                width: 100%;
                ul {
                  @include center(start, baseline);
                  li {
                    display: flex;
                    margin-right: 20px;
                    i {
                      color: #fff;
                    }
                    p {
                      color: rgba(255, 255, 255, 0.7);
                      font-size: 16px;
                      font-weight: 400;
                      font-family: "Poppins", sans-serif;
                      line-height: 1.8;
                    }
                  }
                }
              }
              .footerNumber {
                width: 100%;
                ul {
                  @include center(start, center);
                  li {
                    display: flex;
                    margin-right: 10px;
                    a {
                      i {
                        color: #fff;
                      }
                    }
                    a {
                      color: #fff;
                      span {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "Poppins", sans-serif;
                        line-height: 1.8;
                      }
                    }
                  }
                }
              }
              .footerEmail {
                width: 100%;
                ul {
                  @include center(start, center);
                  li {
                    display: flex;
                    margin-right: 10px;
                    a {
                      i {
                      }
                    }
                    a {
                      color: #fff;
                      span {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "Poppins", sans-serif;
                        line-height: 1.8;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
